@charset "utf-8";

/**
 * Reset
 */
@import "reset.css";

/**
 * Home
 */

  body{
    width: 100%;
    margin-left: auto;
    margin-right: auto;    
  }

  #app {
    margin: 0 auto;
    /*background: url("../assets/img/home_agency.jpg") no-repeat;*/
    background-size: cover;
    height: 3100px;
  }

  #app header {
    background: url("../assets/img/lion2.jpeg") no-repeat;
    background-size: cover;
    height: 930px;
    opacity: 100%;

  }

  .header--logo {
    padding: 43px 0px 0px 60px ;
  }

  .header--logo h1 {
    letter-spacing: 1px;
    font-family: 'Arial';
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
  }

  nav{
    padding: 0px 0px 0px 0px ;
    margin-top: -37px;
    margin-left: 1710px;
  }

  .header--txt{
    font-family: 'Arial';
    font-size: 70px;
    color: white;
    font-weight: 900;
    padding: 80px 0px 0px 360px ;
    line-height: 55px;
  }

  .header--welcome{
    font-family: 'Arial';
    font-size: 19px;
    letter-spacing: 2px;
    color: white;
    padding: 200px 0px 0px 360px ;
  }

  .header--phrase-txt{
    font-family: 'Arial';
    font-size: 17px;
    color: white;
    padding: 38px 0px 0px 360px ;
    line-height: 20px;
  }

  .header--down{
    height: 20px;
    margin-left: 370px;
    margin-top: 65px; 
  }

  .header--precedent{
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: white;
    font-family: 'Arial';
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    width: 5%;
    height: 5%;
    margin-top: 140px;
    opacity: 70%;
  }

  .header--suivant{
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: white;
    font-family: 'Arial';
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    width: 1770px;
    height: 5%;
    margin-top: 140px;
    margin-bottom: 5%;
  }

  .header--points{
    color: white;
    font-size: 100px;
    padding-top: 180px;
    padding-left: 480px;
    position: absolute;
  }

  .content--space{
    height: 240px;
    /*background-color: red;*/
    opacity: 100%;
  }

  .vertical-line{
    border-left: 2px solid #000;
    display: inline-block;
    height: 140px;
    margin: 0 360px;
  }

  .vertical-line2{
    border-left: 2px solid #000;
    display: inline-block;
    height: 140px;
    margin: 0 1478px;
  }
  .horizontal-line{
    border-top: 2px solid #000;
    display: inline-block;
    width: 140px;
    margin-top:305px;
    margin-left: 50px;
  }
  .section-1{
    /*background-color: blue;*/
    opacity: 100%;
    height: 510px;
    margin-left: 300px;
    width: 50%;

  }
  .about{
    position: absolute;
    margin-left: 55px;
    margin-top: 70px;
    font-size: 22px;
    color: grey;
    font-family: 'Arial';
    letter-spacing: 10px;
    font-weight: 600;

  }

  .txt-01{
    position: absolute;
    margin-left: 55px;
    margin-top: 115px;
    font-size: 70px;
    color: black;
    font-family: 'Arial';
    font-weight: 600;
  }

  .paragraph{
    position: absolute;
    margin-left: 220px;
    margin-top: 300px;
    width: 400px;
    line-height: 28px;
    font-size: 14px;
  }

  .image--section-1{
    width: 340px;
    margin-left: 700px;
  }

  .about2{
    position: absolute;
    margin-left: 820px;
    margin-top: 70px;
    font-size: 22px;
    color: grey;
    font-family: 'Arial';
    letter-spacing: 10px;
    font-weight: 600;
    text-align: right;

  }

  .txt-02{
    position: absolute;
    margin-left: 550px;
    margin-top: 115px;
    font-size: 70px;
    color: black;
    font-family: 'Arial';
    font-weight: 600;
    text-align: right;
  }

  .paragraph2{
    position: absolute;
    margin-left: 660px;
    margin-top: 300px;
    width: 400px;
    line-height: 28px;
    font-size: 14px;
    text-align: right;
  }

  .image--section-2{
    width: 340px;
    margin-left: 60px;
  }

  .recent-works{
    /*background-color: blue;*/
    opacity: 100%;
    width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }

  .recent-works--first-title{
    font-size: 22px;
    color: grey;
    font-family: 'Arial';
    letter-spacing: 10px;
    font-weight: 600;
  }

  .recent-works--title{
    margin-top: 20px;
    font-size: 62px;
    color: black;
    font-family: 'Arial';
    letter-spacing: 5px;
    font-weight: 600;
  }
  .recent-works--nav{
    margin-top: 70px;
    margin-bottom: 30px;
  }
.recent-works--nav--item{
    margin-right: 35px;
    font-weight: bold;
    font-family: 'Arial';
}
.works-images--size{
    width: 350px;
    height: 350px;
    margin-top: 15px;
    margin-right: 15px;
}
.works-images--size2{
    width: 350px;
    height: 715px;
    margin-top: 15px;
    margin-right: 15px; 
}
.works-images{
    margin-bottom: 20px;
}
.works-images--size3{
    width: 715px;
    height: 350px;
    margin-top: 15px;
    margin-right: 15px; 
}
.all{
    font-size: 22px;
    font-family: 'Arial';
    letter-spacing: 3px;
    font-weight: 600;
}
.sponso{
    margin-top: 120px;
    margin-left: 200px;
}
.sponso-images--size{
    width: 100px;
    height: 100px;
    margin-top: 15px;
    margin-right: 50px;
    background-size: cover;
    background-position: center;
}

footer{
    background-color: black;
    height: 150px;
    margin-top: 100px;

}

.reseaux{
    text-align:center;
}

.reseaux-sociaux--image{
    width: 25px;
    height: 25px;
    margin-right: 15px;
    margin-top: 25px;
}
.copyright{
    color: white;
    text-align:center;
    font-size: 18px;
    font-family: 'Arial';
    font-weight: 600;
    margin-top: 25px;
}