@charset "utf-8";

/**
 * Reset
 */
@import "reset.css";

/**
 * Home
 */

  body{
    width: 100%;
    margin-left: auto;
    margin-right: auto;    
  }

  #app {
    margin: 0 auto;
    background: url("../assets/img/home_agency.jpg") no-repeat;
    background-size: cover;
    height: 3100px;
  }

  #app header {
    background: url("../assets/img/lion2.jpeg") no-repeat;
    background-size: cover;
    height: 930px;
    opacity: 100%;

  }

  .header--logo {
    padding: 43px 0px 0px 60px ;
  }

  .header--logo h1 {
    letter-spacing: 1px;
    font-family: 'Arial';
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
  }

  nav{
    padding: 0px 0px 0px 0px ;
    margin-top: -37px;
    margin-left: 1710px;
  }

  .header--txt{
    font-family: 'Arial';
    font-size: 70px;
    color: white;
    font-weight: 900;
    padding: 80px 0px 0px 360px ;
    line-height: 55px;
  }

  .header--welcome{
    font-family: 'Arial';
    font-size: 19px;
    letter-spacing: 2px;
    color: white;
    padding: 200px 0px 0px 360px ;
  }

  .header--phrase-txt{
    font-family: 'Arial';
    font-size: 17px;
    color: white;
    padding: 38px 0px 0px 360px ;
    line-height: 20px;
  }

  .header--down{
    height: 20px;
    margin-left: 370px;
    margin-top: 65px; 
  }

  .header--precedent{
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: white;
    font-family: 'Arial';
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    width: 82px;
    height: 5%;
    margin-top: 140px;
    opacity: 70%;
  }

  .header--suivant{
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: white;
    font-family: 'Arial';
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    width: 1770px;
    height: 5%;
    margin-top: 140px;
  }

  .header--points{
    color: white;
    font-size: 100px;
    padding-top: 180px;
    padding-left: 480px;
    position: absolute;
  }